<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>qrcode-vuejs</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }

        label {
            min-width: 100px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <header
            class="d-flex flex-column justify-content-center align-items-center py-5">
            <h1 class="mb-4">
                <strong>qrcode-vuejs</strong>
            </h1>
            <h5 class="mb-4">
                Simple QRCode Generator for Vue.js
            </h5>
            <span>
                <a href="https://github.com/ishinvin/qrcode-vue"
                    target="_blank">
                    <img src="https://img.shields.io/badge/-GitHub-181717?style=flat&logo=github&logoColor=white"
                        alt="GitHub" />
                </a>
                |
                <a href="https://www.npmjs.com/package/qrcode-vuejs"
                    target="_blank">
                    <img src="https://img.shields.io/badge/-npm-CB3837?style=flat&logo=npm&logoColor=white"
                        alt="NPM" />
                </a>
            </span>
        </header>
        <div id="app" class="container">
            <section class="row mb-4">
                <div class="col-12 col-md-6 mb-4">
                    <h4 class="font-weight-bold">
                        Demo
                    </h4>
                    <hr>
                    <form class="mb-4">
                        <div class="d-flex align-center mb-3">
                            <label for="inputText">
                                <small>Text:</small>
                            </label>
                            <input v-model="text" id="inputText"
                                class="form-control">
                        </div>
                        <div class="d-flex align-center mb-3">
                            <label for="inputRender">
                                <small>Render:</small>
                            </label>
                            <select v-model="render" class="form-select"
                                id="inputRender">
                                <option :value="RenderOptions.CANVAS">Canvas
                                </option>
                                <option :value="RenderOptions.SVG">SVG</option>
                                <option :value="RenderOptions.HTML">HTML
                                </option>
                            </select>
                        </div>
                        <div class="d-flex align-center mb-3">
                            <label for="inputLevel">
                                <small>Correct Level:</small>
                            </label>
                            <select v-model="correctLevel" class="form-select"
                                id="inputLevel">
                                <option :value="ErrorCorrectLevel.L">
                                    L = Approx 7%
                                </option>
                                <option :value="ErrorCorrectLevel.M">
                                    M = Approx 15%
                                </option>
                                <option :value="ErrorCorrectLevel.Q">
                                    Q = Approx 25%
                                </option>
                                <option :value="ErrorCorrectLevel.H">
                                    H = Approx 30%
                                </option>
                            </select>
                        </div>

                        <div class="d-flex align-center mb-3">
                            <label for="inputSize">
                                <small>Size:</small>
                            </label>
                            <input v-model="size" id="inputSize" type="range"
                                min="100" max="600" step="10">
                            <div class="align-center" style="font-size: 14px;">
                                &nbsp;({{size}})
                            </div>
                        </div>
                        <div class="d-flex align-center mb-3">
                            <label for="inputColor">
                                <small>Color Dark:</small>
                            </label>
                            <input v-model="color" id="inputColor" type="color">
                        </div>
                        <div class="d-flex align-center mb-3">
                            <label for="inputBgColor">
                                <small>Color Light:</small>
                            </label>
                            <input v-model="bgColor" id="inputBgColor"
                                type="color" class="">
                        </div>
                        <button type="button"
                            class="btn btn-sm btn-primary text-white my-2"
                            @click="reset">
                            Reset
                        </button>
                        &nbsp;
                        <button type="button"
                            class="btn btn-sm btn-primary text-white"
                            @click="download"
                            v-if="render !== RenderOptions.HTML">
                            Download
                        </button>
                    </form>
                    <div :style="{ width: `${size}px`, height: `${size}px`}"
                        class="align-center">
                        <v-qrcode id="qrcodeVuejs" :text="text" :size="size"
                            :render="render" :color-dark="color"
                            :color-light="bgColor"
                            :correct-level="correctLevel" />
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-4">
                    <h4 class="font-weight-bold">
                        Installation
                    </h4>
                    <hr>
                    <code class="d-block bg-dark text-white rounded p-4">
                        <span>npm i qrcode-vuejs</span>
                    </code>
                    <h4 class="font-weight-bold mt-4">
                        Basic Usage
                    </h4>
                    <hr>
                    <code class="d-block bg-dark text-white rounded p-4">
                        <span class="text-warning">import</span> { createApp, ref } <span class="text-warning">from</span> 'vue'
                        <br>
                        <span class="text-warning">import</span> { VQrcode } <span class="text-warning">from</span> 'qrcode-vuejs'
                        <br><br>
                        <span>createApp({</span><br>
                        <span class="ps-4">components: {</span><br>
                        <span class="ps-5">VQrcode</span><br>
                        <span class="ps-4">},</span><br>
                        <span>}).mount('#app')</span>
                        <br><br>
                        <span><<span class="text-danger">v-qrcode</span> <span class="text-warning">text</span>="qrcode-vuejs" /></span>
                    </code>
                </div>
            </section>
        </div>
        <section class="row text-center">
            <div class="text-white text-bg-primary py-2 ">
                <small>&copy; 2023</small>
                <small>Developed by</small>
                <b>Ishin Vin</b>
            </div>
        </section>
    </div>

    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
            "qrcode-vuejs": "https://unpkg.com/qrcode-vuejs@1.0.3/dist/index.es.js"
          }
        }
    </script>

    <script type="module">
        import { createApp, ref } from 'vue'
        import { VQrcode, RenderOptions, ErrorCorrectLevel } from 'qrcode-vuejs'

        createApp({
            components: {
                VQrcode
            },
            setup() {
                // const qrcodeVuejs = ref(null)
                const text = ref('qrcode-vuejs')
                const size = ref(200)
                const color = ref('#000000')
                const bgColor = ref('#ffffff')
                const render = ref(RenderOptions.CANVAS)
                const correctLevel = ref(ErrorCorrectLevel.M)

                const reset = () => {
                    text.value = 'qrcode-vuejs'
                    size.value = 200
                    color.value = '#000000'
                    bgColor.value = '#ffffff'
                    render.value = RenderOptions.CANVAS
                    correctLevel.value = ErrorCorrectLevel.M
                }

                const download = () => {
                    const qrcodeVuejs = document.getElementById('qrcodeVuejs')
                    if (qrcodeVuejs.hasChildNodes()) {
                        if (render.value === RenderOptions.CANVAS) {
                            const link = document.createElement('a')
                            link.download = 'qrcode-vuejs.png'
                            link.href = qrcodeVuejs.childNodes[0].toDataURL()
                            link.click()
                        } else if (render.value === RenderOptions.SVG) {
                            const serializer = new XMLSerializer();
                            let svg = serializer.serializeToString(qrcodeVuejs.childNodes[0]);
                            svg = '<?xml version="1.0" standalone="no"?>\r\n' + svg;

                            const link = document.createElement('a')
                            link.download = 'qrcode-vuejs.svg'
                            link.href = "data:image/svg+xml;charset=utf-8," + encodeURIComponent(svg);
                            link.click()
                        }
                    }
                }

                return {
                    text,
                    size,
                    color,
                    bgColor,
                    render,
                    correctLevel,
                    RenderOptions,
                    ErrorCorrectLevel,
                    reset,
                    download
                }
            },
        }).mount('#app')
    </script>
</body>

</html>